datasets==2.19.0
evaluate==0.4.1
gradio==4.28.3
huggingface_hub==0.22.2
librosa==0.10.1
matplotlib==3.8.3
numpy==1.26.4
pydub==0.25.1
scipy==1.13.0
soundfile==0.12.1
torch==2.2.2
transformers==4.39.3
